.main {
	display: grid;
	grid-template-rows: 70% 30%;
	grid-row-gap: 10px;
	width: 100vw;
	height: 100vh;
}

.bigImg {
	padding: 30px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.gallery {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}

.smallImg {
	padding: 20px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.selected {
	border: 3px solid red;
}
